.footer {
  background-image: linear-gradient(
      rgba($color-primary, 0.8),
      rgba($color-primary, 0.8)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  grid-column: full-start / full-end;

  padding: 8rem 10rem;
  text-align: center;

  &-nav {
    margin: 2rem 0;
    &__link {
      font-size: 1.6rem;
      color: $color-gray-dark-2;
      text-decoration: none;
      padding: 1rem;
    }
  }

  &__text {
    font-size: 1.6rem;
    color: $color-gray-dark-2;

    &--orange {
      color: $color-secondary;
    }
  }
}
